[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "massiveGST"]
	path = massiveGST
	url = https://github.com/stefanomp/massivegst
	shallow = true
	registered = true
[submodule "yaConsensus"]
	path = yaConsensus
	url = https://github.com/stefanomp/yaconsensus
	shallow = true
	registered = true
